  <div class="container-fluid">
    <div class="row">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Región</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let cafe of cafes">
            <td scope="row"><b>{{cafe.id}}</b></td>
            <td>{{cafe.nombre}}</td>
            <td>{{cafe.tipo}}</td>
            <td>{{cafe.region}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

